@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body{
  display: flex;
  justify-content: center;
  padding: 50px;
  background-image: url('https://user-images.githubusercontent.com/44768171/133769977-74a8a9b6-1f7c-4785-86d9-2f41829aa4f6.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.simon{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 500px;
  width: 500px;
  border-style: groove;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 3px 0 rgba(60, 64, 67, .08),0 3px 5px 3px rgba(60, 64, 67, .16);
}

.controller{
  background-image: url('https://user-images.githubusercontent.com/44768171/133769977-74a8a9b6-1f7c-4785-86d9-2f41829aa4f6.png');
  background-size: cover;
  border-style: groove;
  grid-column: 2/4;
  grid-row: 2/4;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08),0 1px 3px 1px rgba(60, 64, 67, .16);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.controller-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  grid-column: 1/3;
  font-family: fantasy; 
}

.highscore{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  font-family: 'Roboto Mono', monospace; 
}

.highscore-display{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #8b0a0a;
  color: #f0eaea;
  width: 3rem;
  height: 1rem;
  border-radius: 5px;
  border-style: outset;
}

.level{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  font-family: 'Roboto Mono', monospace;
}

.level-display{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #481920;
  color: #e53935;
  width: 3rem;
  height: 1.2rem;
  border-radius: 5px;
  border-style: outset;
}

.start, .strict{
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20px 0 20px;
  padding-bottom:25%;
}

#start-button, #strict-button{
  display: none;
}

.toggle-button{
  position: relative;
  height: 1.5rem;
  width: 3rem;
  border: 3px solid #ffffff;
  border-radius: 1rem;
  padding: 2px;
  display: flex;
  cursor: pointer;
}

.toggle-button.active{
  justify-content: flex-end;
  border-color: #11ac11;
}

.toggle-button::after{
  position: relative;
  display: block;
  content: "";
  background-color: #ffffff;
  width:50%;
  height: 100%;
  border-radius: 50%;
}

.active.toggle-button::after{
  background-color: #11ac11
}

.green{
  background-color: #31bb31;
  grid-column: 1/3;
  grid-row: 1/3;
  border-style: groove;
  border-radius:100% 0 0 0;
}

.red{
  background-color: #ef5350;
  grid-column: 3/5;
  grid-row: 1/3;
  border-style: groove;
  border-radius:0 100% 0 0 ;
}

.yellow{
  background-color: #ffee58;
  grid-column: 1/3;
  grid-row: 3/5;
  border-style: groove;
  border-radius:0 0 0 100%;
}

.blue{
  background-color: #42a5f5;
  grid-column: 3/5;
  grid-row: 3/5;
  border-style: groove;
  border-radius:0 0 100% 0 ;
}

.green, .red, .blue, .yellow{
  cursor: pointer;
}

.pushable.green:active, .pushable.red:active, .pushable.blue:active, .pushable.yellow:active{
  filter: brightness(1.3);
}